.wrapper{
    max-width: 768px;
    font-family: "roboto", sans-serif;
}
@mixin flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
@mixin flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.decoration-none {
        text-decoration: none;
}
a:active {
  color: black;
}


.body{
    margin: 0;
}
.logo{
   @include flex-centre;
   box-shadow: 0px 1px 4px 1px lightgrey;
   position: relative;
}
.recherche{
    background-color: #EAEAEA;
    @include flex-centre;
}
.icone{
    padding: 20px;
}
.button-rech{
    border: none;
    background-color: #EAEAEA;
    font-size: medium;
}
.desc{
    @include flex-column-centre;
    button{
        color: white;
        font-weight: 700;
        font-size: 1rem;
        border: none;
        padding: 1rem 2rem;
        border-radius: 2rem;
        box-shadow: 0px 1px 4px 1px lightgrey; 
        background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        transition: transform 200ms;
        &:hover{
            transform: scale(1.02);
            opacity: 0.9;
        }
    }
    
}
h1{
     margin-bottom: 0px;
}



.mobile-texte{
    padding-right: 20px;
}

